/* cards */
.row a{
  text-decoration: none;

}
.card{
  margin: 30px;
  width: 20%;
  background-color: #66ff99;
  float: left;
  border-radius: 30px;
  position: relative;
}

.card::after{
  content: "";
  width: 18%;
  height: 100px;
  display: block;
  box-shadow: 0 2px 50px;
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: -1;
}

.card-body{
  padding: 10px;
}

.card-img-top{
  border-top-left-radius: 30px;
  width: 100%;
}

.card-title{
  color: #000;
  text-align: center;
}

.card-text{
  color: #000;
  text-align: center;
}
/* .row{
  padding: 10px;
} */
